.contactForm__wrapper {
  margin-top: 15vh;
  min-height: 70vh;
}
.contactForm {
	padding: 100px;
  width: 50%;
  margin: 0 auto !important;
  background-color: #fff;
  justify-content: space-between !important;
}
.contactForm__group {
	position: relative;
  margin-bottom: 40px;
}
.contactForm__group:nth-child(1) {
  margin-top: 30px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 0px;
  border: none;
  border-bottom: 1px solid #666;
}
.width--300 {
  width: 300px;
  display: block;
  @media screen and (max-width: 550px) {
    width: 100%;
  }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input:focus { 
	outline:none; 
}
.label {
  color: #666; 
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 10px;
  transition: 0.2s ease all; 
}
input:focus ~ .label, input:valid ~ .label {
  top: -20px;
  font-size: 14px;
  color: #34c5ed;
}