.dasBinIch__wrapper {
  position: relative;
  z-index: 99;
  height: 250px;
  background-color: #f8f1f1; 
}
.dasBinIch__container {
  max-width: 1200px;
  width: 50%;
  margin: 0 auto; 
}
.dasBinIch__img {
  width: 160px;
  height: 160px;
  border-radius: 50%; 
}
.dasBinIch__boxChange {
  vertical-align: top; 
}
.dasBinIch__boxChange p {
  margin: 0 0 15px 0;
}