.mediaIcons__outerCard {
  background: #D8D8D8;
  padding: 40px 0;
}
.mediaIcons__innerCard {
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between !important;
}
.mediaIcons__container {
  width: 250px;
  justify-content: space-between !important;
  i {
    font-size: 24px;
    &:hover {
      color: #05b2e4;
    }
  }
}
@font-face {
  font-family: 'fontello';
  src: url('/font/fontello.eot?53531396');
  src: url('/font/fontello.eot?53531396#iefix') format('embedded-opentype'),
       url('/font/fontello.woff2?53531396') format('woff2'),
       url('/font/fontello.woff?53531396') format('woff'),
       url('/font/fontello.ttf?53531396') format('truetype'),
       url('/font/fontello.svg?53531396#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  cursor:pointer
}
.icon-down-open:before { content: '\e800'; }
.icon-right-open:before { content: '\e801'; }
.icon-ok:before { content: '\e802'; }
.icon-cancel:before { content: '\e803'; }
.icon-users:before { content: '\e804'; }
.icon-gplus:before { content: '\f0d5'; }
.icon-desktop:before { content: '\f108'; }
.icon-facebook-squared:before { content: '\f308'; }
.icon-linkedin-squared:before { content: '\f30c'; }
.icon-pinterest-circled:before { content: '\f0d2'; }