.overlay, .alert {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.overlay {
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(51,51,51,0.8);
}
.alert {
  margin: auto;
  height: 350px;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  p {
    margin-top: 35px;
  }
}
.contactInfo__alert {
  height: 500px;
  width: 400px;
}