.content__wrapper {
	width: 100%;
}
* {
  box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}
.standardButton {
	padding: 12px 30px;
	background-color: #05B2E4;
	color: #fff;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  &:hover {
    box-shadow: 0px 2px 12px rgba(39, 21, 102, 0.3);
  }
}
.boldParagraph {
  font-weight: 500;
  color: #e69f3b;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex--new {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.roundBox {
  border-radius: 10px;
  background-color: #fff;
  margin: 7% auto;
}
.box, .box--pic, .box-aa, .box--extended {
  @media screen and (min-width: 1000px) {
    position: relative;
    height: 50%;
    display: table-cell;
    vertical-align: middle;
  }
}
.box {
  @media screen and (min-width: 1000px) {
    width: 60%;
  }
}
.box--pic { 
  @media screen and (min-width: 1000px) {
    width: 40%;
  }
}
.box--extended {
  width: 50%;
  @media screen and (max-width: 800px) {
    padding: 3rem 0;
  }
}
.boxShadow--light {
  @media screen and (min-width: 1000px) {
    box-shadow: 0px 3px 1px -2px rgba(51,51,51,0.08);
  }
}
.boxShadow {
  @media screen and (min-width: 1000px) {
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
  }
}
.width--50 {
  width: 50%;
}
.width--40 {
  width: 40%;
  @media screen and (max-width: 1200px) and (min-width: 1000px) {
    h2 {
      margin-bottom: 0;
    }
  }
}
.width--50, .width--40 {
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    width: 80%;
  }
}
.row, .row--einleitung {
  display: table;
  width: 69%;
  margin: 0px auto;
}
.row {
  margin-top: 90px;
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
}
.displayNone {
  display: block !important;
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}
.display {
  display: none !important;
  @media screen and (max-width: 768px) {
    display: block !important;
  }
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
  width: 20% !important;
}
.marginTop {
  margin-top: 90px;
}
.marginTopZero {
  margin-top: 2% !important;
}
.marginLeft {
  margin-left: 150px;
  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}
.marginRight {
  @media screen and (min-width: 1000px) {
    margin-right: 10%;
  }
}
.marginZero {
  margin: 0 !important;
}
.paddingTop {
  padding-top: 30px;
  @media screen and (max-width: 550px) {
    padding-top: 0px;
  }
}
.paddingRight {
  @media screen and (min-width: 1000px) {
    padding-right: 10%;
  }
}
.paddingLeft {
  @media screen and (min-width: 1000px) {
    padding-left: 10%;
  }
}
.color {
  color: #333 !important;
}
.colorWhite {
  background-color: #fff;
  color: #fff;
}
.spacing {
  margin-top: 6.5rem;
}
.slide-enter {}
.slide-enter-active {
  animation: slide-in .5s ease-out forwards;
  transition: opacity .5s;
}
@keyframes slide-in {
  from {
    transform: translateY(-20px);
    height: 0;
  }
  to {
    height: 100%;
    transform: translateY(0px);
  }
}
.card {
  position: relative;
  width: 23rem;
  height: 25rem;
  display: inline-block;
  background-bo: #fff;
  border-radius: 10px;
  padding: 0 1.5rem 3rem; 
  margin-right: 1.5rem;
  box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
  box-sizing: border-box;
  p {
    white-space: normal;
  }
  @media screen and (max-width: 375px) {
    width: auto;
  }
}
.prozess {
  background-color:  #f5f5f5;
}
.blog, .portfolio, .leistungen {
  background-color: #fff;
  h3 {
    margin-top: 20px;
  }
}
.display {
  color: #D3D3D3;
}
.topCard {
	position: relative;
	width: 100%;
	height: 88vh;
	background-color: black;
}
.topCard__picture {
	width: 100%;
	height: auto;
	min-height: 88vh;
}
.topCard__headline {
	position: absolute;
	bottom: 12%;
	left: 5%;
	z-index: 0;
	color: white;
	@media screen and (min-width: 1200px) {
		left: 10%;
	}
	@media screen and (max-width: 1000px) and (min-width: 750px) {
		top: 70%;
	}
	@media screen and (max-width: 750px) {
		top: 61%;
	}
}
.standardCard {
	position: relative;
	width: 100%;
	padding: 100px 0px;
}