.navigationTop {
  position: fixed;
}
.navigationTop--whiteColor {
  position: absolute;
}
.navigationTop, .navigationTop--whiteColor {
  width: 100%;
  top: 0;
  z-index: 1000;
}
.navigationMenu {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 1000px;
}
.navigationItem, .navigationItem--whiteColor {
  flex-grow: 1;
  flex-basis: 0;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 60px;
}
.navigationItem--whiteColor {
  a {
    color: #fff;
  }
}
.navigationItem:hover {
  opacity: 0.75;
}
.navigation__logo {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}
.sliding-middle-out {
  display: inline-block;
  position: relative;
}
.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
  width: 90%;
  margin: 0 auto;
  background-color: #34c5ed;
}