.navigationTop {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 3px 1px -2px rgba(51,51,51,0.08);;
}
.navigationMenu {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 1000px;
}
.navigationItem {
  flex-grow: 1;
  flex-basis: 0;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 60px;
  a:hover {
    opacity: 0.65;
  }
}
.navigation__logo {
  height: 30px;
  width: 30px;
  vertical-align: middle;
}