.underlay {
	background-color: #f1f1f1;
	position: relative;
	min-height: 650px;
	@media screen and (min-width: 390px) and (max-width: 768px) {
		min-height: 580px;
	}
	@media screen and (max-width: 390px) {
		min-height: 1650px;
	}
}
.introduction {
	position: absolute;
	top: -13vh;
	right: 0;
	left: 0;
	margin: 0 auto;
	justify-content: space-between !important;
	width: 90%;
	@media screen and (min-width: 1200px) {
		width: 80%;
	}
}
.introduction__roundBox {
	width: 31%;
	max-height: 535px;
	padding: 70px 40px;
	margin: 0 !important;
	flex-direction: column;
	text-align: center;
	@media screen and (min-width: 1000px) {
		min-height: 500px;
	}
	@media screen and (max-width: 768px) and (min-width: 390px) {
		width: 32%;
		padding: 40px 5px;
		p {
			height: 180px;
		}
	}
	@media screen and (max-width: 390px) {
		width: 100%;
		padding: 50px 20px;
		margin-top: 20px !important;
	}
}
.introduction__icons {
	height: 100%;
	width: 50%;
	margin-bottom: 25px;
}