.responsiveDesign {
	background-color: #FEFFFE;
}
.responsiveDesign__container {
	width: 60%;
	margin: 0 auto;
	margin-top: 50px;
	text-align: left;
	[class*=box] {
		vertical-align: top !important;
		p {
			margin: 0;
		}
	}
}
.responsiveDesign__img {
	width: 60%;
	border-radius: 10px;
}
.responsiveDesign__marginTop {
	margin-top: 90px;
}