.ad {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-image: url('/img/natur_website.jpg');
    background-size: cover;
    h2 {
        margin: 0;
        color: white;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.7;
        @media screen and (max-width: 550px) {
            line-height: 1.4;
        }
    }
    p { 
        margin: 1% 0 3% 0;
        color: #fff;
    }
    @media screen and (max-width: 550px) {
        height: 650px;
    }
}
.ad__contentContainer {
    width: 80%;
    max-width: 900px;
    margin-bottom: 20px;
}