.leistungen, .portfolio {
  background-color: #fff; 
}
@media screen and (max-width: 375px) {
  .leistungen, .portfolio {
    width: 90% !important;
    margin: auto; 
  } 
}
.leistungen h3, .portfolio h3 {
  margin-top: 30px; 
}
@media screen and (min-width: 1000px) {
  .box, .box--extended, .box--pic, .box-aa {
    position: relative;
    height: 50%;
    display: table-cell;
    vertical-align: middle; 
  } 
}
@media screen and (min-width: 1000px) {
  .box {
    width: 60%; 
  } 
}
@media screen and (min-width: 1000px) {
  .box--pic {
    width: 40%; 
  } 
}