.topCard {
  position: relative;
  width: 100%;
  height: 88vh;
  background-color: #000; 
}
.topCard__picture {
  width: 100%;
  height: auto;
  min-height: 88vh; 
}
.topCard__headline {
  position: absolute;
  bottom: -5%;
  left: 5%;
  z-index: 0;
  color: #fff; 
}
.standardCard {
  position: relative;
  width: 100%;
  padding: 100px 0; 
}